<% @all_pokemons.each do |pokemon| %>
  <div class="pokemon">
  <h2><a href="/pokemons/<%= pokemon.id%>"><%= pokemon.name %></a></h2>
  <img src="<%= pokemon.img_url%>" alt="<%= pokemon.name%>" />
</div>
  <% end %>

<h3><a href="pokemons/new">Create a new Pokemon</a></h3>
