<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/css/pokestyle.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
  <header>
    <h1><a href="/">Pokenatra</a></h1>
  </header>
  <div class="containareon">
  <%= yield%>
  </div>

</body>
</html>
